{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-8">
    <div class="card mt-4">
      <div class="card-body">
        <img src='{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}' class="card-img-top img-fluid">  
      </div> <!-- /.card -->
    </div>
    &nbsp
    &nbsp
  </div>
  <div class="col-lg-4">
    <div class="card mt-4">
      <div class="card-body">
        <h2 class="my-4">
          <a style=" text-decoration: none;" href="{% url 'shop:product_list_by_category' product.category.slug %}">Liên quan: {{ product.category }}</a>
        </h2>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <h3 class="card-title">{{ product.name }}</h3>
        <h4>{{ product.price }} đ</h4>
        <p class="card-text">{{ product.description|linebreaks }}</p>
        <div class="card-footer text-center">
          <small class="text-muted form-group " >
            <a href="{% url 'cart:cart_add' product.id %}" class="btn btn-success">Thêm vào giỏ</a>
            <a href="{% url 'wishlist:wishlist_add' product.id %}" class="btn btn-default">Yêu thích</a>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
&nbsp;
<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title">Các bình luận về sản phẩm</h3>
  </div>
  {% for comment in comments %}
  {% with user_comment=comment.user %}
  <div class="panel-body border-bottom">
    <p style="margin-bottom: 5px;">{{ user_comment.profile.full_name }}: {{ comment.content }}</p>
    <small>{{ comment.created }}</small>
  </div>

  {% endwith %}
  {% endfor %}
</div>
{% endblock %}




