{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Trang chủ{% endif %}
{% endblock %}

{% block content %}

    <div class="row">
      <h3 class="my-4">
        {% if category %}{{ category.name }}
        {% elif key %}Tìm kiếm sản phẩm có từ khoá: {{ key }}
        {% else %}Tất cả sản phẩm
        {% endif %}
      </h3>
    </div>
    <div class="row">

      {% for product in products %}
      <div class="col-lg-3 col-md-6 mb-4">

        <div class="card h-100">
          <div class="thumbnail">
            <a href='{% url "shop:product_detail" product.id product.slug %}'>
              <img class="card-img-top px-5" src='{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}'>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title text-center">
              <a href='{% url "shop:product_detail" product.id product.slug %}'>{{ product.name }}</a>
            </h4>
            <h5 class="text-danger text-center">{{ product.price }} đ</h5>
            <h5>{{ product.short_description }}</h5>
          </div>
          <div class="card-footer text-center">
            <small class="text-muted">
              <a href="{% url 'cart:cart_add' product.id %}" class="btn btn-success">Thêm vào giỏ</a>
              <a href="{% url 'wishlist:wishlist_add' product.id %}" class="btn btn-default">Yêu thích</a>
            </small>
          </div>

        </div>
      </div>
      {% endfor %}    
    </div><!-- /.row -->
  </div>


<div class="row">
  <div class="col-md-12 text-center">

    <div class="pag_area">
      <ul class="pagination">
        {% if products.has_previous %}
        <li><a href="?page={{ products.previous_page_number }}">«</a></li>
        {% else %}
        <li class="disabled"><span>«</span></li>
        {% endif %}
        {% for i in products.paginator.page_range %}
        {% if products.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if products.has_next %}
        <li><a href="?page={{ products.next_page_number }}">»</a></li>
        {% else %}
        <li class="disabled"><span>»</span></li>
        {% endif %}
      </ul>
    </div>

  </div>
</div>

<!-- /.row -->

{% endblock %}
