{% extends "shop/base.html" %}
{% load static %}

{% block title %}
Chi tiết đơn hàng
{% endblock %}

{% block content %}

&nbsp;

{% if order.state == '3' %}
<h2 style="text-align: center;">Đánh giá sản phẩm</h2>
&nbsp;&nbsp;
<table id="cart" class="table table-hover table-condensed">
	<thead>
		<tr>
			<th style="width:40%">Sản phẩm</th>
			<th style="width:50%">Bình luận</th>
			<th style="width:10%"></th>
		</tr>
	</thead>

	<tbody>
		{% for item in order.items.all %}
		{% with product=item.product %}
		<tr>
			<td data-th="Product">
				<div class="row">
					<div class="col-sm-2 hidden-xs">
						<a href='{% url "shop:product_detail" product.id product.slug %}'>
							<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="img-responsive">
						</a>
					</div>
					<div class="col-sm-10">
						<h4 class="nomargin">{{ product.name }}</h4>
					</div>
				</div>
			</td>
			{% if not item.isComment %}
			<form action="{% url 'comment:comment_save' product.id order.id %}" method="post">
				{% csrf_token %}
				<td>
					<input style="width: 100%; height: 60px;" type="text" name="comment_content">
				</td>
				<td>
					<input type="submit" value="Gửi" style="width: 100%; height: 60px;">
				</td>
			</form>
			{% else %}
			<td>
				<h5>Đã đánh giá sản phẩm này!</h5>
			</td>
			<td></td>
			{% endif %}
		</tr>
		{% endwith %}
		{% endfor %}
	</tbody>
</table>
{% endif %}

&nbsp;
{% endblock %}